@charset "UTF-8";
:root {
  --black-color: #212121;
  --white-color: #ffffff;
  --second-color-paragraf: #757575;
  --header-mail-tel: #757575;
  --color-curennt: #2196F3;
  --footer-bacround: #2F303A;
  --second-background: #F5F4FA;
  --color-hover-focus: #188CE8;
  --black-rgba: 0px 4px 4px rgba(0, 0, 0, 0.15);
  ---second-color-rgba: rgba(255, 255, 255, 0.6);
  --three-rgba: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cointeiner {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header__cointeiner {
  display: flex;
}

.nav {
  display: flex;
}
.nav__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-curennt);
  text-decoration: none;
  padding: 24px 0 25px;
  margin-right: 93px;
}
.nav__text {
  color: var(--black-color);
}
.nav__list {
  display: flex;
  gap: 50px;
  position: relative;
}
.nav__link {
  display: block;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-color);
  padding: 32px 0;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--color-hover-focus);
}
.nav__link--current {
  position: relative;
  color: var(--color-curennt);
}
.nav__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--color-curennt);
  border-radius: 2px;
}

.contact {
  display: flex;
  margin-left: auto;
  gap: 30px;
  padding: 32px 0;
  align-items: center;
}
.contact__link {
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--header-mail-tel);
  color: #757575;
}
.contact__icon {
  display: flex;
  margin-right: 10px;
  fill: currentColor;
}
.contact__link:hover, .contact__link:focus {
  color: var(--color-hover-focus);
}

.section-service {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/background-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.section-service__title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0 auto;
}

.btn {
  display: block;
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
  margin: 30px auto 0;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  /* inherit Наслідує від боді */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--color-curennt);
}
.btn:hover, .btn:focus {
  background-color: var(--color-hover-focus);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 581px;
  width: 528px;
  background-color: #EEEEEE;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  box-sizing: border-box;
}
.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon-close {
  width: 11px;
  height: 11px;
}
.modal__btn:hover, .modal__btn:focus {
  fill: var(--color-hover-focus);
}

.modal-form {
  width: 448px;
}
.modal-form #contact-details-head {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  margin-bottom: 12px;
}
.modal-form__labale {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  margin-top: 10px;
}
.modal-form__div-input {
  position: relative;
}
.modal-form__input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--first-color-text);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--color-curennt);
}
.modal-form__input:focus {
  border: 1px solid var(--color-curennt);
}
.modal-form__textarea {
  display: block;
  box-sizing: border-box;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__textarea:focus {
  border: 1px solid var(--color-curennt);
}/*# sourceMappingURL=main.css.map */